<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T1 - O portal de notícias número 1</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/assets/css/global.css" />
    <style>
      .material-icons {
        font-family: 'Material Icons';
        font-style: normal;
        font-size: 28px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
      }
    </style>
  </head>
  <body>
    <div class="glbbarrawidget">
      <div class="main" style="display:flex">
        <div class="glbbarrawidget-left">
        {{ user.username|upper }} está logado.
        </div>
        <div class="glbbarrawidget-right">
          {% if not user.is_authenticated %}
          <a href="{% url 'cadastre_se' %}">CADASTRE-SE</a>
          <a href="{% url 'login' %}">ENTRAR</a>
          {% else %} 
          <a href="{% url 'admin:index' %}">PAINEL ADMINISTRATIVO</a>
          <a href="{% url 'criar_post' %}">CRIAR POSTAGEM</a>
          <a href="{% url 'logout' %}">SAIR</a>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- CABEÇALHO -->
    <header>
      <div class="main">
        <div class="header-left">
          <span class="material-icons"> menu </span>
          MENU
        </div>
        <div class="header-center">
          <a href="{% url 'blog'%}"><img src="/static/assets/img/t1-icone.svg" width="60" alt="" /></a>
        </div>

        <div class="header-right">
          <form method="GET">
            <input
              placeholder="BUSCAR"
              type="search"
              value="BUSCAR"
              name="search"
              id="busca-campo"
              autocomplete="off"
              tabindex="1"
              class=""
            />
          </form>
        </div>
      </div>
    </header>

    <main class="main">
      <section class="o-que-foi-noticia-nesta-sexta main">
        <div class="day-noticia">O que foi notícia nesta sexta</div>
        <div class="day-resumo">
          <a>
            <span>Resumo do dia</span>
            <svg
              class="pirulito__link-more__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="5 5 12 12"
            >
              <path d="M13 10V8l5 4-5 4v-2H6v-4h7z"></path>
              <path fill="none" d="M5 5h14v14H5V5z"></path>
            </svg>
          </a>
        </div>
      </section>
      {% include "hospitais/noticia_principal.html" %}
      {% block content %} {% endblock content %}
    </main>

    <footer class="footer">
      <div class="main">
        <div class="footer_div_left">
          <img
            id="cor-primaria"
            src="public/assets/img/t1-icone.svg"
            width="40"
            alt=""
          />
          <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 516 308"
            id="cor-primaria"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M0 208.716C0 263.56 50.353 308 112.558 308h224.66V118.447H212.173v94.417h-59.39c-15.54 0-28.157-11.125-28.157-24.828V95.97c0-13.68 7.63-24.826 23.16-24.826h100.467L304.525.47H112.558C50.353.47 0 49.482 0 104.34v104.376zM387.186 308H512V24.832C512 11.13 499.408 0 483.868 0h-123.05l-56.292 70.95h54.523c15.538 0 28.136 11.123 28.136 24.817V308z"
            ></path>
          </svg> -->
          Últimas notícias
          <span class="footer__copyright"
            >© Copyright 2000-2020 Lorem ipsum dolor sit amet consectetur
            adipisicing.</span
          >
        </div>
        <div class="footer_div_right">
          <div class="footer__service">
            <ul class="footer__service-list">
              <li class="footer__service-list-item">
                <a href="#" title="princípios editoriais"
                  >Princípios editoriais</a
                >
              </li>
              <li class="footer__service-list-item">
                <a href="#">Política de privacidade</a>
              </li>
              <li class="footer__service-list-item">
                <a href="#" title="minha conta">Minha conta</a>
              </li>
              <li class="footer__service-list-item">
                <a href="h#" title="anuncie conosco">Anuncie conosco</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
