<div>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="fieldWrapper">
      {{ form.nome_hospital.errors }}
      <label for="{{ form.nome_hospital.id_for_label }}">Nome hospital:</label>
      {{ form.nome_hospital }}
    </div>

    <figure>
        <img src="{{post.foto_url}}" alt="" srcset="">
    </figure>
    <div class="fieldWrapper">
      {{ form.foto.errors }}
      <label for="{{ form.foto.id_foto }}">Foto:</label>
      {{ form.foto }}
    </div>

    <div class="fieldWrapper">
      {{ form.desc_hospital.errors }}
      <label for="{{ form.nome_hospital.id_desc_hospital }}"
        >Desc hospital:</label
      >
      {{ form.desc_hospital }}
    </div>

    <p>
      <label for="id_desc_hospital"></label>
      <input
        type="text"
        name="desc_hospital"
        value="asdfsd"
        class="myfieldclass"
        maxlength="200"
        required=""
        id="id_desc_hospital"
      />
    </p>
    <p>
      <label for="id_tipo_hospital">Tipo hospital:</label>
      <input
        type="text"
        name="tipo_hospital"
        value="público"
        maxlength="200"
        required=""
        id="id_tipo_hospital"
      />
    </p>
    <p>
      <label for="id_conceito_hospital">Conceito hospital:</label>
      <input
        type="text"
        name="conceito_hospital"
        value="teste"
        maxlength="200"
        required=""
        id="id_conceito_hospital"
      />
    </p>
    <button type="submit">Enviar</button>
  </form>
  <a href="{% url 'blog' %}">Voltar</a>
</div>
