<section class="noticias main">
  <div>
    <h1>Eleições 2020</h1>
    <div class="caixa">
      <span class="noticia-titulo">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, harum.
      </span>
      <span class="subtitulo"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cumque
        voluptatum tenetur voluptatibus culpa? Dolorem, ab. Alias, sint beatae
        tempore ipsum quo numquam aliquid dolorum reiciendis id, nihil delectus
        enim.</span
      >
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="inner-box">
        <h2>TITLE 1 CENTRED</h2>
        <p>SOME CENTRED TEXT</p>
      </div>
    </div>
    <hr class="divider" />
    <div class="box">
      <div class="inner-box">
        <h2>TITLE 2 CENTRED</h2>
        <p>SOME CENTRED TEXT</p>
      </div>
    </div>
  </div>
</section>
