<section class="noticias main">
  <div>
    <h1>{{telainicial.0.titulo_cabebalho}}</h1>
    <div class="caixa">
      <span class="noticia-titulo"> {{telainicial.0.titulo}} </span>
      <span class="subtitulo">{{telainicial.0.descricao}}</span>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div
        class="inner-box"
        style="
          background: url(../img/placeholder-grande.png) no-repeat;
          background-size: 100% 100%;
        "
      >
        <h2>{{telainicial.0.box_1_titulo}}</h2>
        <p>{{telainicial.0.box_1_descricao}}</p>
      </div>
    </div>
    <hr class="divider" />
    <div class="box">
      <div
        class="inner-box"
        style="
          background: url(../img/placeholder-grande.png) no-repeat;
          background-size: 100% 100%;
        "
      >
        <h2>{{telainicial.0.box_2_titulo}}</h2>
        <p>{{telainicial.0.box_2_descricao}}</p>
      </div>
    </div>
  </div>
</section>
